<!-- header top section start -->
<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="call_text">
          <a href="#">
            <img src="../../../assets/map-icon.png" />
            <span class="call_text_left"> India </span>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="call_text">
          <a href="#">
            <img src="../../../assets/call-icon.png" />
            <span class="call_text_left">+91 9876543210</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="call_text">
          <a href="#">
            <img src="../../../assets/mail-icon.png" />
            <span class="call_text_left">VikasWani@gmail.com</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- header top section end -->
<!-- header section start -->
<div class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="logo">
        <a href="index.html"><img src="../../../assets/logo.png" /></a>
        <!-- <h2>VikasWani</h2> -->
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">SERVICES</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="customer.html">CUSTOMER</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="news.html">NEWS</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="contact.html">CONTACT US</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SIGNUP</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../../assets/search-icon.png" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
