<!-- footer section start -->
<!-- <div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer_logo"><img src="images/footer-logo.png" /></div>
        <p class="dolor_amet_text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
        </p>
      </div>
      <div class="col-sm-4">
        <h1 class="footer_about">About Us</h1>
        <p class="dolor_amet_text_1">
          distracted by the readable content of a page when looking at its
          layout. The point of using Lorem Ipsum is that it has
        </p>
      </div>
      <div class="col-sm-4">
        <h1 class="footer_about">Newsletter</h1>
        <input
          type="text"
          class="mail_text"
          placeholder="Enter your Email"
          name="text"
        />
        <button class="subscribe_bt">Send</button>
      </div>
    </div>
  </div>
</div> -->
<!-- footer section end -->

<!-- contact section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <p class="copyright">
      2023 All Rights Reserved.
      <a href="*">*VikasWani Investment*</a>
    </p>
  </div>
</div>
<!-- copyright section end -->
