<section class="services">
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-lg-4">
                <div class="service-item text-center">
                    <h3 class="services">Investment Need Assessment</h3>
                    <i class="bi bi-graph-up-arrow"></i>
                    <p>The first step for proper investment planning starts with assessing your actual need for
                        investment. We would help you
                        to know how much you need to save to meaningfully fulfill your responsibilities in life and also
                        achieve your prominent
                        financial objectives /goals in life..</p>
                    <button class="btn btn-secondary">Learn More</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item text-center">

                    <h3 class="services">Wealth Management</h3>
                    <i class="bi bi-currency-rupee"></i>
                    <p>Wealth management is a broach subject and it covers broad areas of wealth creation, retention and
                        management. Our role
                        would be to engage with in planning and executing solutions and strategies for achieving your
                        multiple financial
                        objectives.</p>
                    <button class="btn btn-secondary">Learn More</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item text-center">
                    <h3 class="services">Products Distribution</h3>
                    <i class="bi bi-speedometer2"></i>
                    <p>Every planning or solution needs proper execution to fructify into desired results. As financial
                        product distributors,
                        we offer you access to a wide range of financial and non-financial products that will help you
                        to implement your plans
                        effectively and more importantly, as per your risk.</p>
                    <button class="btn btn-secondary">Learn More</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item text-center">

                    <h3 class="services">Global Risk & Investigations</h3>
                    <i class="bi bi-graph-up-arrow fa-5x"></i>
                    <p>
                        Conflict management is the process of limiting the negative aspects of conflict while increasing
                        the positive aspects of
                        conflict.
                    </p>
                    <button class="btn btn-secondary">Learn More</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item text-center">
                    <h3 class="services">Trades & Stocks</h3>
                    <i class="bi bi-currency-rupee"></i>
                    <p>
                        A merger means a combination of two companies to form a new company, while an acquisition is the
                        purchase of one company.
                    </p>
                    <button class="btn btn-secondary">Learn More</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item text-center">
                    <h3 class="services">Strategic Planning</h3>
                    <i class="bi bi-speedometer2"></i>
                    <p>
                        Strategic planning is an organization's process of defining its strategy, or direction, and
                        making decisions on
                        allocating its resources.
                    </p>
                    <button class="btn btn-secondary">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>